.month {
  background-color: rgb(235, 189, 255);
  width: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.month p {
  background-color: rgb(235, 189, 255);
}
.pipe {
    width: 1rem;
    height: 80%;
    border-radius: 20px;
    background-color: rgb(158, 133, 226);
}
